:root {
  --box-shadow:5px 5px 10px 0px rgba(101, 175, 10);
  --bg-color: rgb(40,47,97);
}
body{
  background-color: rgb(11, 26, 51);
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

/* Navbar Section  */
.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar{
  display: none;
}

.nav_bar .nav_items {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;

}
.nav_bar .nav_items:hover{
  border-bottom: 3px solid yellow;
}

/* Home Section */
.home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:1200px) {
  .home{
    /* flex-direction: row !important; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px ;
  }
  .skills{
    margin-top: 236px;
  }
  
}
@media (max-width:850px) {
  .nav_bar .right{
    display: none;
  }
  .bar{
    display: block;
  }
}
.home .left {
  background-color: var(--bg-color);
  width:50%;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}


.home .right{
  height: 50%;
  width: 50%;
}
.home .right .img{
  height:250px;
  width: 250px;
  margin: auto auto;
  border-radius:50% ;
  background-color: gray;
}
.home .right .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid yellow;
   /* animation-name: superman;
  animation-duration: 2s;
  animation-iteration-count: infinite;  */
}

@keyframes superman {
  0%{
    border-color: blue;
    transform: translate(0,0px);
    box-shadow: 7pxpx 7pxpx 100px 50px blue;
  }
  25%{
    border-color: rgb(239, 244, 11);
    box-shadow: 5px 5px 100px 50px rgb(239, 244, 11);
    
  }
  50%{
    border-color: rgb(12,12,199);
    transform: translate(0,10px);
    box-shadow: 7px 7px 100px 50px rgb(12,12,199);
    
  }
  75%{
    border-color: rgb(130,217,160);
    box-shadow: 7px 7px 100px 50px rgb(130, 217, 160);
    
    
  }
  100%{
    border-color: rgb(50,55,205);
    transform: translate(0,-0px);
    box-shadow: 7px 7px 100px 50px rgb(50,55,205);
    
  }
}

/* SKILLS */

.skills{
  width: 100%;

}


.skills .items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 700px; */
  margin: auto;
  
}

.skills .items .item{
  width:  calc(33.33%);
  background-color: black;
  margin:10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.skills .items .item img{
  width: 70px;
}

/* .projects .row{
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Contact  */
.contact-icon{
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon .items{
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid yellow;
}

.contact-icon .items:hover{
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.contact-icon .items .icons{
  font-size: 2rem;
  
}
.projects{
  height: 100%;
  width: 100%;
}
.projects .row{
  padding-left: 9vw;
}
.row > div{
  margin: 20px;
}